{% extends 'loginregister/base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Tabla de Socios</title>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- DataTable cdn css Responsive -->
    <link type="text/css" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet" >
     <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
     <!--CSS Personalizado-->
     <link rel="stylesheet" type="text/css" href={% static 'css/Estilos_DT.css' %} media="screen">

</head>

<body>

<section class="Contenedor">

    <div class="container h-60 my-4">
        <div class="row">
         <div class="col-xl-12 bg-secondary bg-gradient bg-opacity-50 cl">
            <h2 class="TituloABM">Tabla de Socios</h2>
            
            <table id="tabla-socios-localidades" class="display responsive table nowrap table-striped" width="100%">
                <button id="btn_Socios"><i class="fa-solid fa-user-plus"></i> Nuevo Socio</button>
             <thead>
                <tr class="bg-danger bg-gradient">
                    <th class="centered">ID</th>
                    <th class="centered">Nombre Completo</th>
                    <th class="centered">DNI</th>
                    <!-- <th class="centered">Fecha de Nacimiento</th> -->
                    <th class="centered">Dirección</th>
                    <!-- <th class="centered">Distrito</th> -->
                    <th class="centered">Localidad</th>
                    <th class="centered">Teléfono 1</th>
                    <!-- <th class="centered">Teléfono 2</th> -->
                    <th class="centered">Correo</th>
                    <!-- <th class="centered">Descripción</th> -->
                    <th class="centered">Apto Físico</th>
                    <!-- <th class="centered">Fecha de Vencimiento del Apto Físico</th> -->
                    <th class="centered">Compite</th>
                    <th class="centered">Socio Activo</th>
                    <th class="centered"></th>
                </tr>
             </thead>
                <tbody  class="bg-light bg-gradient">
                    {% for item in data %}
                    <tr>
                        <td>{{ item.id }}</td>   
                        <td>{{ item.nombre_completo }}</td>
                        <td>{{ item.dni }}</td>
                        <!-- <td>{{ item.fecha_nacimiento }}</td> -->
                        <td>{{ item.direccion }}</td>
                        <!-- <td>{{ item.distrito }}</td> -->
                        <td>{{ item.localidad }}</td>
                        <td>{{ item.telefono1 }}</td>
                        <!-- <td>{{ item.telefono2 }}</td> -->
                        <td class="centered">{{ item.correo }}</td>
                        <!-- <td>{{ item.descripcion }}</td> -->
                        <td>{{ item.apto_fisico }}</td>
                        <!-- <td>{{ item.fecha_vencimiento_apto_fisico }}</td> -->
                        <td>{{ item.compite }}</td>
                        <td>{{ item.socio_activo }}</td>
                        <td>
                            <a href={% url 'detalles' item.id %} class="btn btn-sm btn-primary btn-custom-width">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
          
            </table>
         </div> 
        </div>
    </div>
</section>
        <script>
             document.getElementById("btn_Socios").addEventListener("click", function() {
            // Redirecciona a la URL deseada
            window.location.href = "/agregar_socio/";
    });
         </script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- DataTable cdn Js responsive -->
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    
    <script>
        
           $('#tabla-socios-localidades').DataTable( {

 // Configuraciones de la DataTable
//  
    responsive: true,
    paging: false,
    scrollCollapse: true,
    ordering: false,
    //Tamaño de la tabla
    //
    scrollY: "240px",
    lengthMenu: [5, 10, 15, 20, 100, 200, 500],
    columnDefs: [
        { className: "centered", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] },
        { orderable: false, targets: [1, 2, 3, 4, 5, 6, 7, 8, 9] },
        { searchable: false, targets: [3, 4, 5, 6, 7] },
        
        // Tamaño de las columnas
        //
        { width: "10%", targets: [7] },
        { width: "20%", targets: [1] },
        { width: "10%", targets: [0] },
        // Prioridad de las columnas responsive
        // 
        { responsivePriority: 2, targets: 10 },
        { responsivePriority: 3, targets: 1 },
        { responsivePriority: 4, targets: 8 },
        { responsivePriority: 5, targets: 7 },
        { responsivePriority: 1, targets: 0 },
    ],
    pageLength: 6,
    destroy: true,
    // Configuracion del idioma de las opciones
    //
    language: {
        lengthMenu: "Mostrar _MENU_ registros por página",
        zeroRecords: "Ningún Socio encontrado",
        info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
        infoEmpty: "Ningún Socio encontrado",
        infoFiltered: "(filtrados desde _MAX_ registros totales)",
        search: "Buscar Socio:",
        loadingRecords: "Cargando...",
        paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior"
        }
        
    }
        
        });
            
        


    </script>
</body>

</html>
{% endblock %}